/* FIGURE OUT WHY THE TYPEFACE DOESN'T WORK ON PUBLISHED SITE */
/* @font-face {
    font-family: Nohemi-Regular;
    src: url(/assets/fonts/Nohemi-Regular.otf);
} */

/* @font-face {
    font-family: Printvetica;
    src: url(/assets/fonts/Printvetica.otf);
} */

/* @font-face {
    font-family: Monaspace Neon;
    src: url(/assets/fonts/MonaspaceNeonVarVF[wght\,wdth\,slnt].ttf);
} */

:root {
    --primary-font: Helvetica;
    --heading-font: Helvetica;
    --motivational-buddy_font: Helvetica;
    --font-size: 14px;

    /* color styles */
    --no-status_status-color: #CACACA;
    --not-started_status-color: #FFD24B;
    --in-progress_status-color: #6B9DFF;
    --completed_status-color: #00BF9C;
    --important-color: #FF6171;

    --background-color: #F6F8F9;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --light-grey: #F6F8F9;
    --grey: #BFBFBF;

    /* decorative styles */
    /* --outline: #CACACA 1px solid; */
    --drop-shadow: drop-shadow(0px 0px 10px #e8e8e8);
    --blur: blur(5px);
    --gap: 1rem;
    --gap_todo-column: .5rem;
    --border-radius: 5px;

    /* animation styles */
    --hover-effect: ease-in-out 250ms;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--background-color);
    font-size: var(--font-size);
    font-family: var(--primary-font);
    color: var(--black-color);
}

h2 {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: calc(var(--font-size) * 1.75);
}

/* .gradient-blob_background {
    position: fixed;
    z-index: -1;
    top: 10rem;
    right: -10rem;
} */

.confetti-button {
    position: fixed;
    top: 10px;
    left: 10px;

    outline: var(--outline);
    background: var(--black-color);
    color: var(--white-color);
    padding: var(--gap);
    cursor: pointer;
}





/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {
   
}





/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    .gradient-blob_background {
        top: 0rem;
        right: -20rem;
    }
}