.action_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: 80vh;
}






/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {
   
}





/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    
}