@font-face {
    font-family: Nohemi-Regular;
    src: url(/assets/fonts/Nohemi-Regular.otf);
}

:root {
    --primary-font: Nohemi-Regular;
    --font-size: 1rem;

    /* color styles */
    --background-color: rgba(246, 235, 224, 1);
    --semi-transparent_background-color: rgba(246, 235, 224, .25);
    --primary-color: rgba(41, 41, 41, 1);

    --outline: var(--primary-color) 1px solid;
    --blur: blur(15px);
    --gap: 1rem;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: var(--font-size);
    color: var(--primary-color);
}

h2 {
    font-size: calc(var(--font-size) * 1.75);
}


.gradient-blob_background {
    position: fixed;
    z-index: -1;
    right: -25rem;
}


/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {

}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {

}