@font-face {
    font-family: Nohemi-Regular;
    src: url(/assets/fonts/Nohemi-Regular.otf);
}

@font-face {
    font-family: Printvetica;
    src: url(/assets/fonts/Printvetica.otf);
}

:root {
    --primary-font: Printvetica;
    --font-size: 1rem;

    /* color styles */
    --background-color: rgba(242, 242, 242, 1);
    --primary-color: rgba(255, 86, 49, 1);
    --secondary-color: rgba(255, 255, 255, 1);

    --outline: var(--primary-color) 1px solid;
    --blur: blur(5px);
    --gap: 1rem;
    --border-radius: 10px;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: var(--font-size);
    color: var(--primary-color);
}

h2 {
    font-size: calc(var(--font-size) * 1.75);
}

.gradient-blob_background {
    position: fixed;
    z-index: -1;
    top: 10rem;
    right: -10rem;
}


/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {

}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    .gradient-blob_background {
        top: 0rem;
        right: -20rem;
    }
}