.right-column_to-do {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do_container {
    display: flex;
    width: 75vw;
    height: 80vh;
}

.status_no-status, .status_not-started, .status_in-progress, .status_completed {
    width: 25%;
    background-color: var(--background-color);
    
}



/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {

}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {

}