#add-button {
    background-color: var(--secondary-color);
    padding: var(--gap);
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: var(--outline);
    text-transform: uppercase;
}

.right-column_to-do {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do_container {
    width: 90vw;
    height: 90vh;
    padding: var(--gap);
    background-color: rgba(255, 255, 255, .25);

    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
    outline: var(--outline);
    border-radius: var(--border-radius);
}

.status {
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, .25);
    backdrop-filter: var(--blur);
    
    outline: var(--outline);
    border-radius: var(--border-radius);
}

.status > header {
    border-bottom: var(--outline);
    padding: var(--gap);
    background-color: var(--black-color);
    color: var(--white-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* .to-do-items {
    padding: var(--gap);
} */

.todos {
    outline: var(--outline);
    padding: var(--gap);
    background-color: var(--background-color);

    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: var(--gap);
    justify-content: space-between;
    align-items: center;
}

.todos > p:first-child {
    width: 100%;
}

.close-toggle {
    outline: var(--outline);
    /* border-radius: 100rem; */
    width: 1rem;
    height: 1rem;
    text-align: center;
}

/* Add To-Do Popup styles */
.popup {
    width: 35vw;
    height: auto;
    position: fixed;
    top: -50%;
    left: 50%;
    z-index: 1000;
    
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    outline: var(--outline);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
}

.popup.active {
    top: 35vh;
}

.popup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--gap);

    background-color: var(--black-color);
    color: var(--white-color);
}

.popup_content {
    padding: var(--gap);
}

.popup_close-button {
    font-size: calc(var(--font-size) * 1.5);
}

.close-popup {
    background: none;
    border: none;
    font-size: 1.5rem;
  }

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}

#overlay.active {
    display: block;
}

#to-do_input {
    outline: var(--outline);
    padding: calc(var(--gap) * .75);
    width: 100%;
}

#todo_submit {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 100%;
    padding: calc(var(--gap) * .25);
    outline: var(--outline);
    text-transform: uppercase;
    text-align: center;
}

/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
/* TABLET MEDIA QUERY */
@media (min-width: 768px) {

}



/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
/* DESKTOP MEDIA QUERY */
@media (min-width: 1280px) {
    #add-button:hover {
        background-color: var(--black-color);
        color: var(--white-color);
        transition: var(--hover-effect);
    }
    
    .to-do_container {
        display: flex;
        flex-direction: row;
        column-gap: var(--gap);
        justify-content: space-between;
        
        width: 75vw;
        height: 80vh;
    }
    
    .status_no-status, .status_not-started, .status_in-progress, .status_completed {
        width: 25%;
    }

    .close-toggle {
        cursor: pointer;
    }

    .close-toggle:hover {
        background-color: var(--black-color);
        color: var(--white-color);
        transition: var(--hover-effect);
    }

    #todo_submit {
        cursor: pointer;
    }
}